[Unit]
Description=I2G SMB2WI service
After=network.target

[Service]
User=root
WorkingDirectory=/home/bdadmin/Desktop/I2G/i2g-smb2wi
ExecStart=/usr/bin/node /home/bdadmin/Desktop/I2G/i2g-smb2wi/index.js -s -i /etc/samba/smb.conf -p codb -P 4000 -k secretKey
Restart=Always

[Install]
WantedBy=multi-user.target
